{% extends "base.html" %} #引入基本html文件

{% block title %}{{ "宇宙观测者X星系9527" }}{% endblock %} #定义网页标题名

{% block content %}
{%  if blog_list %}
<div class="row text-center vertical-middle-sm">
    <h1>我的观察信息</h1>
</div>
<div class="row1">
    <div class="col-xs-8 col-md-10">
       <table border="2">
            <tr >
                <th width="80" >序号</th>
                <th width="600" >标题</th>
                <th width="1000" >内容</th>
                <th width="100" >作者</th>
                <th width="300" >发布时间</th>

            </tr>
         {% for blog in blog_list %}
            <tr bgcolor="#a9a9a9">
                <td width="80">{{ blog.id }}</td>
                <td width="300"><a href={{ blog.id }}>{{ blog.title }}</a></td>
                <td width="800" height="">{{ blog.body }}</td>
                <td width="100" align="center">{{ blog.author.username }}</td>
                <td width="100">{{ blog.publish|date }}</td>
              </tr>
          {% endfor %}
      </table>
    </div>
    <div class="col-xs-4 col-md-2">
        <h2>X星系系统公告</h2>
        <p>天气异常，请关闭门窗！！！</p>
        <img src="https://b-ssl.duitang.com/uploads/item/201505/29/20150529095204_EHTKw.jpeg" width="200">
    </div>
</div>
{% endif %}
{% endblock %}
